@import '../../helpers/helpers.scss';

$sidedrawerLink-color--default: hsl(214°, 32%, 20%);
$sidedrawerLink-color--hover: $white;
$sidedrawerLink-bgColor--default: transparent;
$sidedrawerLink-bgColor--hover: hsl(222°, 97%, 52%);
$sidedrawerLink-borderColor--hover: hsl(223°, 100%, 46%);
$sidedrawerLinkSvg-fillColor--default: hsl(208°, 10%, 52%);
$sidedrawerLinkSvg-fillColor--hover: $white;

.menu {
  &__list {
    margin-left: -15px;
    margin-right: -15px;
  }

  &__item {
    margin: 10px 0;
  }

  &__linkIcon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 22px; 

    svg {
      margin: auto;
      align-self: center;
      justify-self: center;
      
      path {
        fill: $sidedrawerLinkSvg-fillColor--default;
      }
    }
  } 

  &__link {
    color: $sidedrawerLink-color--default;
    padding: 12px 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    font-size: 1.8rem;
    line-height: 0.667;
    min-height: 5.6rem;
    border-bottom: 4px solid transparent;

    &:hover,
    &:active,
    &__active {
      background: $sidedrawerLink-bgColor--hover;
      color: $sidedrawerLink-color--hover;
      border-color: $sidedrawerLink-borderColor--hover;

      svg path {
        fill: $sidedrawerLinkSvg-fillColor--hover;
      }
    }
  }
}
