@import '../../helpers/helpers.scss';

.teamsNavigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 45px;
  height: 68px;
  border-bottom: 2px solid $greyLighter;

  &__leftBlock,
  &__rightBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__length {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: $greyDark;
    padding-right: 40px;
    border-right: 2px solid $greyLighter;

    b {
      font-size: 3.6rem;
      color: $deepBlue;
      padding-right: 13px;
    }
  }

  &__showBy {
    padding-left: 40px;
  }

  label,
  select {
    font-size: 1.4rem;
    font-weight: bold;
    color: $greyDark;
  }

  label {
    margin-right: 10px;
  }

  select {
    padding: 10px;
    text-align: center;
    border: 0;
    border-radius: 6px;
    min-width: 175px;
  }

  .button {
    margin-left: 10px;

    .icon {
      margin: auto 9px auto 0;
    } 
  }
}