@import '../../helpers/helpers.scss';

.teamsNavigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 4.5rem ;
  min-height: 6.8rem;
  border-bottom: 2px solid var(--geyser);
  background-color: var(--athensGrey);

  &__leftBlock,
  &__rightBlock {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__length {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--regentGrey);
    padding-right: 4rem;
    border-right: 2px solid var(--geyser);

    b {
      font-size: 3.6rem;
      color: var(--downRiver);
      padding-right: 1.3rem;
    }
  }

  &__showBy {
    padding-left: 4rem;
  }

  label,
  select {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--regentGrey);
  }

  label {
    margin-right: 1rem;
  }

  select {
    min-width: 17.5rem;
  }

  .button {
    margin-left: 10px;

    .icon {
      margin: auto 9px auto 0;
    } 
  }
}