@import '../../helpers/helpers.scss';

$avatar-defaultSize: 50px;
$avatar-smallSize: 32px;

.avatar {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-family: $fontFamilyBase;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  &--default {
    width: 4rem;
    height: 4rem;
  }

  &--small {
    width: 3rem;
    height: 3rem;
  }

  &--large {
    width: 5rem;
    height: 5rem;
  }
}