@import '../../helpers/helpers.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.2;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: var(--white);
  border: 1px solid var(--regentGrey);
  color: var(--curiousBlue);
  transition: all 250ms ease;

  &:hover {
    color: var(--downRiver);
  }

  &:active {
    background-color: var(--geyser);
    color: var(--jordyBlue);
  }

  &.button {
    &--simple {
      padding: 10px 0;
      background: none;
      border: 0;
  
      &:hover {
        color: var(--downRiver);
      }
  
      &:active {
        color: var(--jordyBlue);
      }
    }

    &--primary {
      background-color: var(--curiousBlue);
      color: var(--white);
      border-color: var(--curiousBlue);
  
      &:hover {
        background-color: var(--bluemine);
        color: var(--white);
        border-color: var(--bluemine);
      }
  
      &:active {
        background-color: var(--jordyBlue);
        color: var(--white);
        border-color: var(--jordyBlue); 
      }
    }
  
    &--disabled {
      background: transparent;
      color: var(--regentGrey);
  
      &:hover {
        background-color: var(--geyser);
      }
  
      &:active {
        background-color: var(--athensGrey);
      }
    }
  }


  &--rounded {
    border-radius: 2.5rem;
  }

  &--centered {
    justify-content: center;
  }
}