@import '../../helpers/helpers.scss';

%ellipsis {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

%F14Lh12B {
  font-weight: bold;
  font-size: 1.4rem;
}

%CdeepBlue {
  color: $deepBlue;
}

%listHeadStyles {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: $greyDark;
}

%widthItem {
  flex-basis: calc((100% - 240px - 320px - 50px) / 5);
}

.teams {
  padding: 30px 45px;

  &__listHead {
    @extend %listHeadStyles;
    display: flex;
    padding: 0 20px;

    li {
      @extend %ellipsis;
      text-align: left;

      &:first-child {
        flex-basis: 320px;
      }
      &:nth-child(2) {
        flex-basis: 240px;
      }
      &:nth-child(3) {
        @extend %widthItem;
      }
      &:nth-child(4) {
        @extend %widthItem;
      }
      &:nth-child(5) {
        @extend %widthItem;
      }
      &:nth-child(6) {
        @extend %widthItem;
      }
      &:nth-child(7) {
        @extend %widthItem;
      }
      &:last-child {
        flex-basis: 50px;
      }
    }
  } 

  &__listBody {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px auto;
    padding: 20px;
    width: 100%;

    > * {
      @extend %ellipsis;
    }
  }

  .avatar {
    font-size: 2.2rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--geyser);
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    margin-right: 18px;
  }
}

.member {
  &__infos {
    display: flex;
    flex-basis: 320px; 

    span {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      color: var(--regentGrey);
      font-size: 1.4rem;
    }

    b {
      font-weight: bold;
      font-size: 1.8rem;
      color: $deepBlue;
    }
  }

  &__poste {
    @extend %F14Lh12B;
    @extend %CdeepBlue;
    flex-basis: 240px;
    text-align: left; 

  }
  &__contract {
    @extend %F14Lh12B;
    @extend %CdeepBlue;
    @extend %widthItem;
  }
  &__hours {
    @extend %F14Lh12B;
    @extend %CdeepBlue;
    @extend %widthItem;
  }
  &__teamName {
    @extend %F14Lh12B;
    @extend %CdeepBlue;
    @extend %widthItem;
  }
  &__shop {
    @extend %F14Lh12B;
    @extend %CdeepBlue;
    @extend %widthItem;
  }
  &__notes {
    @extend %F14Lh12B;
    @extend %widthItem;
    color: $greyDark;
  }
  &__actions {
    flex-basis: 50px;
  }
}
