@import "../../helpers/helpers.scss";

.teams {
  padding: 3rem 3.5rem;

  h2 {
    margin-top: 0;
  }

  &__filters {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    p {
      color: var(--regentGrey);
      font-size: 1.4rem;
      font-weight: bold;
      padding-right: 1rem;
    }
  }

  &__filterLabel {
    background-color: var(--white);
    border: 1px solid var(--regentGrey);
    border-radius: 6px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1.2rem;
    margin: 0 1.2rem 0 0;

    label {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px auto;
    padding: 20px;
    width: 100%;

    > * {
      @extend %ellipsis;
    }
  }

  .avatar {
    font-size: 2.2rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--geyser);
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    margin-right: 18px;
  }

  + .sidebar {
    overflow-y: scroll;
    max-height: 100%;
    top: 0;
    padding-right: 60px;
    
    .button--even {
      position: sticky;
      transform: translateX(48px);
      left: calc(100% + 70px);
      top: 0;
    } 

    .sidebar__content {
      padding-bottom: 5rem;
    }
  }
}
