@import "../../helpers/helpers.scss";

%ellipsis {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

%listHeadStyles {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: var(--regentGrey);
}

.teams {
  padding: 3rem 3.5rem;

  h2 {
    margin-top: 0;
  }

  &__listHead {
    @extend %listHeadStyles;
    display: flex;
    padding: 0 20px;

    li {
      @extend %ellipsis;
      text-align: left;

      &:first-child {
        flex-basis: 320px;
      }
      &:nth-child(2) {
        flex-basis: 240px;
      }
      &:nth-child(3) {
        @extend %teamCellWidthItem;
      }
      &:nth-child(4) {
        @extend %teamCellWidthItem;
      }
      &:nth-child(5) {
        @extend %teamCellWidthItem;
      }
      &:nth-child(6) {
        @extend %teamCellWidthItem;
      }
      &:nth-child(7) {
        @extend %teamCellWidthItem;
      }
      &:last-child {
        flex-basis: 50px;
      }
    }
  }

  &__listBody {
    display: flex;
    flex-direction: column;
  }

  &__filters {
    display: flex;
    align-items: center;
    padding-bottom: 1.5rem;

    p {
      color: var(--regentGrey);
      font-size: 1.4rem;
      font-weight: bold;
      padding-right: 1rem;
    }
  }

  &__filterLabel {
    background-color: var(--white);
    border: 1px solid var(--regentGrey);
    border-radius: 6px;
    padding: 5px 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1.2rem;
    margin: 0 1.2rem 0 0;

    label {
      margin-right: 8px;
      margin-bottom: 0;
    }
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px auto;
    padding: 20px;
    width: 100%;

    > * {
      @extend %ellipsis;
    }
  }

  .avatar {
    font-size: 2.2rem;
    line-height: 1.5;
    color: var(--white);
    background-color: var(--geyser);
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    margin-right: 18px;
  }

  + .sidebar {
    overflow-y: scroll;
    max-height: 100%;

    .sidebar__content {
      padding-bottom: 5rem;
    }
  }
}
