@import '../../helpers/helpers.scss';

$itemBorderColor--default: hsl(240°, 100%, 99%);

%CdeepBlue {
  color: $deepBlue;
}

.plannings {
  padding: 30px 45px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-column-gap: 30px;
  max-height: calc(100% - 92px);

  input, 
  select {
    min-width: 175px;
  }

  button[type="submit"] {
    margin-top: 50px;
  }

  .card__item--2 {
    h3 {
      @extend %CdeepBlue;
      margin-bottom: 5px;
    }
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .form {
    &__inline {
      display: flex;

      > *:first-child {
        margin-right: 10px;
      }
    }
  }
}