$white: hsl(0°, 0%, 100%);
$black: hsl(0°, 0%, 0%);

$blueDark: hsl(223°, 12%, 41%) !default;
$lightGrey: hsl(217°, 17%, 36%) !default;
$sLightGrey: hsl(228°, 33%, 97%) !default;
$grey: hsl(230°, 17%, 93%) !default;
$blue: hsl(221°, 100%, 41%) !default;
$green: hsl(160°, 68%, 48%) !default;
$red: hsl(356°, 99%, 66%) !default;
$yellow: hsl(45°, 100%, 51%) !default;
$greyDarker: hsl(230°, 18%, 39%) !default;


/* Font family */
$fontFamilyBase: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

/* Font sizes */
$fontSizeBase: 1.6rem !default;

/* Font weight */
$fontWeight-light:    200 !default;
$fontWeight-regular:  400 !default;
$fontWeight-medium:   500 !default;
$fontWeight-bold:     700 !default;
$fontWeight-black:    900 !default;

/* Line height */
$lineHeightBase: 1.5 !default;

/* Links */
$linkBaseColor: $black !default;
$linkBaseActiveColor: $blue !default;

/* Titles */
$titleColor: $blueDark !default;

/* Table */
$tableBorderColor: hsl(222°, 31%, 94%) !default;

/* Inputs */
$inputBorder: $grey !default;
$btnBlue: $blue !default;
