/* Default colors */
$white: hsl(0°, 0%, 100%);
$black: hsl(0°, 0%, 0%);


/* Colors */
$downRiver: hsla(209°, 79%, 17%, 100%);
$curiousBlue: hsla(209°, 82%, 51%, 100%);
$green: hsla(168°, 63%, 48%, 100%);
$yellow: hsla(38°, 100%, 67%, 100%);
$red: hsla(359°, 98%, 75%, 100%);

/* Grays */
$blueBayoux: hsla(211°, 17%, 39%, 100%);
$regentGrey: hsla(208°, 16%, 57%, 100%);
$geyser: hsla(206°, 25%, 87%, 100%);
$athensGrey: hsla(218°, 25%, 94%, 100%);
$polar: hsla(206°, 64%, 98%, 100%);

/* Blue color ramps */
$bluemine: hsla(214°, 62%, 30%, 100%);
$denim: hsla(211°, 73%, 42%, 100%);
$jordyBlue: hsla(209°, 81%, 71%, 100%);
$hawkesBlue: hsla(209°, 84%, 93%, 100%);
$bluemine: hsla(206°, 80%, 96%, 100%);

/* App colors */
$green: hsl(160°, 68%, 48%) !default;
$red: hsl(356°, 99%, 66%) !default;
$yellow: hsl(45°, 100%, 51%) !default;
$blue: hsl(222°, 97%, 52%) !default;
$blueDarker: hsl(223°, 100%, 46%) !default;
$deepBlue: hsl(223°, 34%, 26%) !default;
$deepBlueDarker: hsl(220°, 36%, 21%) !default;
$deepBlueDark: hsl(214°, 32%, 20%) !default;
$grey: hsl(222°, 39%, 94%) !default;
$greyDarker: hsl(219°, 40%, 90%) !default;
$greyDark: hsl(208°, 10%, 52%) !default;
$greyLight: hsl(218°, 44%, 96%) !default;
$greyLighter: hsl(216°, 41%, 93%) !default;

/* Font family */
$fontFamilyBase: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default;

/* Font sizes */
$fontSizeBase: 1.6rem !default;

/* Font weight */
$fontWeight-light:    200 !default;
$fontWeight-regular:  400 !default;
$fontWeight-medium:   500 !default;
$fontWeight-bold:     700 !default;
$fontWeight-black:    900 !default;

/* Line height */
$lineHeightBase: 1.5 !default;

/* Links */
$linkBaseColor: $black !default;
$linkBaseActiveColor: $blue !default;

/* Titles */
$titleColor: $deepBlue !default;

