@import '../../helpers/helpers.scss';

%F14Lh12B {
  font-weight: bold;
  font-size: 1.4rem;
}

%CdeepBlue {
  color: $deepBlue;
}

%ellipsis {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
}

.plannings {

  &__item {
    @extend %F14Lh12B;
    @extend %CdeepBlue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 8px auto;
    border-bottom: 2px solid $greyLight;

    & > span:not(.plannings__itemActions) {
      @extend %ellipsis;
      width: calc((100% - 280px - 40px) / 5 );
    }
  }

  &__itemShop {
    text-transform: capitalize;
  }

  &__itemActions {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 280px;

    > * {
      margin: 0 5px;
    }
  }
}