@import '../../helpers/helpers.scss';

.header {
  display: flex;
  align-items: center;
  padding: 15px 45px;
  border-bottom: 2px solid $greyLighter;
  height: 92px;

  h2 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.2;
    color: $deepBlueDark;
  }
}

