@import '../../helpers/helpers.scss';

.header {
  display: flex;
  align-items: center;
  padding: 1rem 3.5rem;
  border-bottom: 2px solid var(--geyser);
  background-color: var(--white);
}

