@import '../../helpers/helpers.scss';

.dashboard {
  padding: 0 35px 30px;
  display: grid;
  grid-template-columns: 37.5rem 0.5fr 0.5fr;
  grid-template-rows: 6rem 1fr;
  grid-column-gap: 30px;
  min-height: 100%;

  h2 {
    margin-bottom: 1rem;
    color: $downRiver;
  }

  .card {
    h3 {
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1.2;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .panels {
    &--left {
      grid-column: 1/2;
    }
    &--center {
      grid-column: 2/3;
    }
    &--right {
      grid-column: 3;
    }
  }
}