.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid var(--regentGrey);
  color: var(--curiousBlue);
  transition: all 250ms ease;

  &:hover {
    color: var(--downRiver);
  }

  &:active {
    background-color: var(--geyser);
    color: var(--jordyBlue);
  }
  
  &--simple {
    padding: 10px 0;
    background: none;
    border: 0;

    &:hover {
      color: var(--downRiver);
    }

    &:active {
      color: var(--jordyBlue);
    }
  }

  &--disabled {
    background: transparent;
    color: var(--regentGrey);

    &:hover {
      background-color: var(--geyser);
    }

    &:active {
      background-color: var(--athensGrey);
    }
  }

  &--primary {
    background-color: var(--curiousBlue);
    color: var(--white);
    border-color: var(--curiousBlue);

    &:hover {
      background-color: var(--bluemine);
      color: var(--white);
      border-color: var(--bluemine);
    }

    &:active {
      background-color: var(--jordyBlue);
      color: var(--white);
      border-color: var(--jordyBlue); 
    }
  }

  &--rounded {
    border-radius: 50%;
  }
}