@import '../helpers/helpers.scss';

html {
  --white: #{$white};
  --black: #{$black};
  --downRiver: #{$downRiver};
  --curiousBlue: #{$curiousBlue};
  --green: #{$green};
  --yellow: #{$yellow};
  --red: #{$red};
  --blueBayoux: #{$blueBayoux};
  --regentGrey: #{$regentGrey};
  --geyser: #{$geyser};
  --athensGrey: #{$athensGrey};
  --polar: #{$polar};
  --bluemine: #{$bluemine};
  --denim: #{$denim};
  --jordyBlue: #{$jordyBlue};
  --hawkesBlue: #{$hawkesBlue};
  --bluemines: #{$bluemines};
  --deepBlueDark: #{$deepBlueDark};
  --deepBlue: #{$deepBlue};
  
  box-sizing: border-box;
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* Avoid min-width: auto on flex & grid children */
  min-width: 0;
  min-height: 0;
}

body {
  margin: 0;
  line-height: $lineHeightBase;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
}

/* Headings */
h1,
.isLike__h1 { @extend %isH1; }
h2,
.isLike__h2 { @extend %isH2; }
h3,
.isLike__h3 { @extend %isH3; }
h4,
.isLike__h4 { @extend %isH4; }
h5,
.isLike__h5 { @extend %isH5; }
h6,
.isLike__h6 { @extend %isH6; }

h1, 
h2, 
h3, 
h4, 
h5, h6,
.isLike__h1,
.isLike__h2,
.isLike__h3,
.isLike__h4,
.isLike__h5,
.isLike__h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

img {
  height: auto;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}
