@import '../helpers/helpers.scss';

html {
  box-sizing: border-box;
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* Avoid min-width: auto on flex & grid children */
  min-width: 0;
  min-height: 0;
}

body {
  margin: 0;
  line-height: $lineHeightBase;
  font-family: $fontFamilyBase;
  font-size: $fontSizeBase;
}

a {
  color: $linkBaseColor;

  &:hover,
  &:focus,
  &:active {
    color: $linkBaseActiveColor;
  }
}

/* Headings */
h1,
.isLike__h1 { @extend %isH1; }
h2,
.isLike__h2 { @extend %isH2; }
h3,
.isLike__h3 { @extend %isH3; }
h4,
.isLike__h4 { @extend %isH4; }
h5,
.isLike__h5 { @extend %isH5; }
h6,
.isLike__h6 { @extend %isH6; }

/* Max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

img {
  height: auto;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

[class*="col-"] { padding: 0 1.5rem; }

.col-1 { width: 8.333%; }
.col-2 { width: 16.667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.334%; }
.col-5 { width: 41.667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333%; }
.col-8 { width: 66.667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333%; }
.col-11 { width: 91.667%; }
.col-12 { width: 100%; }
.col-margin-1 { margin-left: 8.333%; }
.col-margin-2 { margin-left: 16.667%; }
.col-margin-3 { margin-left: 25%; }
.col-margin-4 { margin-left: 33.334%; }
.col-margin-5 { margin-left: 41.667%; }
.col-margin-6 { margin-left: 50%; }
.col-margin-7 { margin-left: 58.333%; }
.col-margin-8 { margin-left: 66.667%; }
.col-margin-9 { margin-left: 75%; }
.col-margin-10 { margin-left: 83.333%; }
.col-margin-11 { margin-left: 91.667%; }
.col-margin-12 { margin-left: 100%; }