@import '../../helpers/helpers.scss';

$sidedrawer-bgColor--default: $white !default;
$sidedrawerSubtitle-color--default: hsl(225,98%,81%) !default;

.sidedrawer {
  display: flex;
  flex-direction: column;
  background-color: $sidedrawer-bgColor--default;
  max-width: 32rem;
  padding: 16px;
  color: hsl(214°, 32%, 20%);
}

.menu {
  &__title {
    color: $sidedrawerSubtitle-color--default;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
