@import 'components/helpers/helpers.scss';

@import 'components/commons/reset';
@import 'components/commons/base';

html, 
body, 
#root {
  width: 100%;
  height: 100%;
}

.App {
  display: grid;
  grid-template-rows: 7rem 1fr;
  min-height: 100%;
  background-color: var(--polar);
}